*{
    margin:0;
}

div{

    display: block;
}

/* header part */
.section{
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

.image1{
    margin-left: 10%;
}

.text{
    width: 50%;
    margin-right: 30%;
    margin-left: 55%;
    margin-top: 18%;
   
    position: absolute;
}

.text1{
    margin-left: 31%;
    margin-top: 1%;
    font-weight: bolder;
}
.text2 {
    margin-left: 30%;
    margin-top: 1%;
    font-weight: bolder;
}
.text3 {
    margin-left: 40%;
    margin-top: 1%;
    font-weight: bolder;
    margin-bottom: 2%;
}



.para1{
    font-size: small;
    margin-left: 12%;
}
.para2{
    font-size: small;
    margin-left: 9%;
}
.para3{
    font-size: small;
    margin-left: 17%;
}

.button{
    background-color: red;
    border: none;
    padding: 2%;
    margin-left: 35%;
    margin-top: 3%;
    color: white;
    border-radius: 5px;
    width: 120px;
        height: 50px;
}

/* header end */


/* main start */

.sec-section-img{
    width: 100%;
    margin-left: 20%;
    height:100%;

}

.sec-button{
        background-color: orange;
        border: none;
        padding: 1.5%;
        margin-left: 0%;
        color: white;
        border-radius: 5px;
}

.half-width-second-div-header{
    margin-left: 0%;
    margin-top: 10%;
}
.half-width-second-div{
    margin-top: 1%;
    margin-right: 10%;
    margin-left: 15%;
}
.half-width-second-div-paragraph{
    margin-top: 2%;
    margin-right: 15%;
    margin-bottom: 0%;
}



.section1{
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}



li{
    list-style: none;
    margin-right: 10%;
}

.secpage{
    margin-top: 15%;
    margin-left: 3%;
}

.secpageheader{
    margin-bottom: 2%;
}

.secpagepara2{
    margin-bottom: 2%;
}


.head2{
    text-align: center;
    margin-top: 3%;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 6%;
    margin-bottom: -8%;
}




.firstbgimage{
    margin-top: 0%;
    margin-left: 10%;
}


.upfooterbtn{
    margin-left: 10%;
    margin-top: 15%;
    margin-right: 15%;
    margin-bottom: 15%;
    color: orange;
    padding: 5%;
    border-radius: 5px;
    font-weight: bold;
    width: 120px;
    height: 50px;
    background-color: white;
    
}

.bgimage{
    background-image: url(../images/gradient2.png),url(../images/watch.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 1500px;
    height: 250px;
    margin-top: 3%;
    border: none;
    border-radius: 5px;
    margin-top: 300px;
}


.grdnt-title{
    color: white;
    margin-left: 20%;
    padding: 5%;
}

.grdntbtn{
    background-color: white;
        border: none;
        padding: 1%;
        margin-left: 50px;
        top:120px;
        color: orange;
        border-radius: 5px;
}

.upfooterbtn{
    background-color: white;
    border: none;
    padding: 1%;
    margin-left: 25%;
    margin-top: -4%;
    

}

/* main end */


/* footer start */





.footer{
    background-color: black;
    color: white;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    padding: 3%;
    
}

.future{
    color: white;
    margin-left: 10%;
    margin-top: 5%;
}

.icons1{
    display: flex;
    margin-left: 2px;
}
.icons1div{
    margin-left: 4%;
    margin-top: 2%;
}

.futurefp{
    margin-top: 2%;
}

.futureem{
    margin-top: 5%;
    margin-bottom: 2%;
}
.futurepho{
    margin-top: 3%;
    margin-bottom: 5%;
}

.future1{
    margin-top: 5%;
    margin-right: 23%;
    
}

.footerh{
    margin-bottom: 15%;
}

.footerinput{
    padding: 3%;
    border-radius: 5px;
    margin-bottom: 8%;
    background-color: black;
    color: white;
    font-size: 19px;
    font-weight: bold;
    
}

.footer-btn{
    color: orange;
    padding: 5%;
    border-radius: 5px;
    font-weight: bold;
    width: 120px;
    height: 50px;
}


/* Khatam tata bye bye  */