*{
    margin: 0;
}

section{
    margin-left: 3%;
    margin-right: 3%;
   
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.134);
}

.image {
    max-width: 100%;
    max-height: 100%;
}

.text{
    width: 50%;
    margin-right: 25%;
}

.para1{
    font-size: small;
}

.button{
    background-color: orange;
    border: none;
    padding: 3%;
    margin-left: 75%;
    color: white;
    border-radius: 5px;
}


.sec-section-img{
    width: 100%;
}

.sec-button{
        background-color: orange;
        border: none;
        padding: 1.5%;
        margin-left: 38%;
        color: white;
        border-radius: 5px;
}

.half-width-second-div{
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 23%;
}

li{
    list-style: none;
    margin-right: 10%;
}

.secpage{
    margin-left: 28%;
}

.head2{
    text-align: center;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
}




.firstbgimage{
    margin-top: 5%;
    margin-left: 10%;
    
    
    
    /* margin-right: 15%; */
}



.bgimage{
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
    /* background-size: 100px 100px;
    background-size: 100% 100%; */
    position: absolute;
}


.headgrdnt1{
    position: absolute;
    top: 70px;
    left: 50px;
    color: white;
}
.headgrdnt2{
    position: absolute;
    top: 95px;
    left: 50px;
    color: white;
}

.grdntbtn{
    background-color: white;
        border: none;
        padding: 1%;
        margin-left: 50px;
        top:120px;
        color: orange;
        border-radius: 5px;
}